<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="../js/easyui1.5/jquery.easyui.min.js"> </script>
    <script type="text/javascript" src="../js/easyui1.5/locale/easyui-lang-zh_CN.js"> </script>

    <link rel="stylesheet" href="../js/easyui1.5/themes/default/easyui.css"></link>
    <link rel="stylesheet" href="../js/easyui1.5/themes/icon.css"></link>
    <!-- ztree树 -->
    <script src="../js/ztree/jquery.ztree.all-3.5.js"></script>
    <link rel="stylesheet" href="../js/ztree/zTreeStyle.css" />
    <script type="text/javascript" src="../js/EasyuiCRUD.js"></script>
</head>
<body>

<div>
    <a href="javaScript:exportExcel()" class="easyui-linkbutton" data-options="iconCls:'icon-print'">导出Excel</a>
</div>
<form action="../user/importExcel" method="post" enctype="multipart/form-data" >
    <input type="file" name="file"/>
    <input type="submit" value="导入excel"/>
</form>

<table id="data" class="easyui-datagrid"></table>

<div id="dd"  closed="true" class="easyui-dialog" title="菜单" style="width:800px;height:400px;"
     data-options="iconCls:'icon-save',resizable:true,modal:true">
    <!-- 下拉树  -->
    <ul id="tree" class="easyui-tree">
    </ul>
    <input type="button" value="提交" onclick="updateRolePermiss()" >
</div>
</body>
<script type="text/javascript">
    $(function(){

        queryUser();
    })

    exportExcel = function(){

        location.href = "../user/exportExcel";
    }

    queryUser = function(){

        $("#data").datagrid({

            url:"../user/queryUser",

            columns:[
                [
                {field:'ck',checkbox:true},
                {field:'id',title:'ids',width:100},
                {field:'username',title:'用户名',width:100},
                {field:'password',title:'密码',width:100},
                {field:'cz',title:'操作',width:100,
                    formatter:function(value,row,index){
                        return "<a href='javascript:updDialog("+row.id+")' class='easyui-linkbutton' iconCls='icon-ok'>绑定角色</a>";
                    },
                    /* 	formatter:function(value,row,index){
                            return "<a href='javascript:SaveDialog()' class='easyui-linkbutton' iconCls='icon-ok'>修改</a>";
                        }, */
                },


            ]
            ],

            pagination:true,

            pageList:[2,5,10],

            rownumbers:true,

            fitColumns:true

        })
    }


    var roles;
    updDialog = function(userid){

        roles = userid;
        $("#dd").dialog("open");

        //
        $("#tree").tree({

            url:"../user/getUserByUserid?userid="+userid,
            checkbox:true,
            //去掉 父子节点级联
            cascadeCheck:false,
        })
    }

    updateRolePermiss = function(){

        var roleids = getChecked();
        alert(roleids)
        var userid = roles;

        $.ajax({

            url:"../user/updateUserRole",
            data:{roleids:roleids,userid:userid},
            type:"post",
            success:function(data){
                if(data=='1'){
                    $("#dd").dialog("close")
                }else{


                }
            }
        })

    }

    getChecked = function(){

        var nodes = $("#tree").tree('getChecked');
        var s = "";

        for (var i = 0; i < nodes.length; i++) {
            if(s!='')s+=',';
            s+= nodes[i].id;

        }
        return s;
    }


</script>

</html>